---
Language: Cpp
BasedOnStyle:  Microsoft
BinPackArguments: false
BinPackParameters: false
ExperimentalAutoDetectBinPacking: false
AllowAllParametersOfDeclarationOnNextLine: false
AlignAfterOpenBracket: BlockIndent
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
SeparateDefinitionBlocks: Leave
EmptyLineBeforeAccessModifier: LogicalBlock
FixNamespaceComments: true
QualifierAlignment: Right
AllowShortFunctionsOnASingleLine: InlineOnly
AlignConsecutiveDeclarations: Consecutive
PointerAlignment: Left
ReferenceAlignment: Left
MaxEmptyLinesToKeep: 1